@charset "UTF-8";

/* this sllows percentage-based heights (for responsive)
https://www.joshwcomeau.com/css/custom-css-reset/#digit-box-sizing-model
*/
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
/* css reset suggestion from https://www.joshwcomeau.com/css/custom-css-reset/#digit-box-sizing-model
it allows to implement a more-intuitive box-sizing model. So that paddign and margins are not added outside but inside of  each 'container box' .
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* css reset suggestion from https://www.joshwcomeau.com/css/custom-css-reset/#digit-sensible-media-defaults 
to set all the belwo elements to display as block instead of default inline. max-width is set to 100% to keep large images from overflowing, if they're placed in a container that isn't wide enough to contain them. */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 
usign variables to define colours so that they are easy to change  */
:root {
  --dark-grey: #797979;
  --light-grey: #f3f3f3;
  --fontcolor: #141414;
  --fontcolorvisited: #3a0877;
  --yellowcolor: #f8a644;
  --mintcolor: #1593b9;
}

/*====================================Global / Desktop View=============================*/

body {
  font-size: 1rem;
  color: var(--fontcolor);
  font-family:  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased; /* switches off font smoothing - only relevant for Mac OS*/
  max-width: 100%;
  
  line-height: calc(
    1em + 0.5rem
  ); /* this calculation uses the font-size as a base, and adds a fixed amount of space to each line.
  This declaration produces tighter lines for bigger text like headings. */
  margin: 0; /* Removes all defaultt browser margins*/
  background-color: white;
}
main {
  background-color: var(--light-grey);
  display: block;
}

header {
  background-color: white;
  padding: 1%;
  padding-left: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


ul li {
  font-family: "Oswald", sans-serif;
  font-size: 1.1rem;
  color: var(--fontcolor);
  text-decoration: none;
  font-style: normal;
  line-height: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  list-style-type: none;
  display: inline-block;
  margin-right: 50px;
  position: relative;
}


/* Dropdown top menu styling, displays on hover over  */

.dropdown-content {
  display: none;
  position: absolute;
}

.nav-menu-item:hover .dropdown-content {
  display: block;
  min-width: 290px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}
/*
.caret-down {
  display: inline-block;
  width: 1.4rem;
}
*/
/* unvisited link */
a:link {
  color: var(--fontcolor);
  text-decoration: none;
}

/* Links hover-over */
a:hover:not(.active) {
  color: var(--fontcolor);
}

/* visited link */
a:visited {
  color: var(--fontcolor);
}

a.top-navigation {
  position: relative;
}
/* I wanted the navigation to have the same underline animation as on my photography portfolio website to keep it consistent. 
To achieve this effect, I used a pseudo class before added an underline that is initially hidden. I set it’s height 10 2px and 100% width to cover  the size of the link. 
The background of this pheudo element is set to be the same colour as the font so that the underline is matching colour. To animante I used the property transition: all 0.3s ease-in-out;
 To perform the animation of expanding the link from the middle to the outside I used the transform property scaleX transform: scaleX(0);, 
 setting this to 0 will scale the element on the x-axis to 0.  I then added a hover event on the top navigation links to display the before pheuse element by setting 
 visibility: visible;, and expanding the element  to 100% width by changing the scaleX back to 1 transform: scaleX(1);. 
*/
a.top-navigation:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--fontcolor);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}
a.top-navigation:hover:before {
  visibility: visible;
  transform: scaleX(1);
}


  /*
  Gradient!
  background: linear-gradient(
    309deg,
    var(--yellowcolor) 10%,
    var(--mintcolor) 90%
  ); */

.hero-background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1.hero-background {
  font-family: "Oswald", sans-serif;
  color: var(--fontcolor);
  font-weight: 500;
  text-align: left;
  font-size: 2.2rem;
  margin: 0.5rem 0;
  line-height: calc(1em + 0.8rem);
  position: absolute;
  top: 30%;
  left: 5%;
}

h1 {
  font-family: "Oswald", sans-serif;
  color: var(--light-grey);
  font-weight: 500;
  text-align: left;
  font-size: 2.2rem;
  margin: 0.5rem 0;
  line-height: calc(1em + 0.8rem);
}

h2 {
  font-family: "Oswald", sans-serif;
  color: var(--fontcolor);
  text-align: left;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: calc(1em + 1rem);
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

/* 
I liked the look of Neumorphic buttons and decided to try in https://www.justinmind.com/blog/neumorphism-ui/
I applied the same gradient to make sure the background matches as close as possible to the colour of the button */

/* this is Global View styling  */

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: var(--fontcolor);
  font-family: "oswald", sans-serif;
  background-color: linear-gradient(
    309deg,
    var(--yellowcolor) 10%,
    var(--mintcolor) 90%
  );
  width:9rem;
  height:3rem;
  border-radius: 4px;
  outline: 1px solid rgb(15, 15, 15); 
  
  /* box-shadow: -3px -3px 4px rgba(255, 255, 255, 0.2888), */
 /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2888); */
  margin-top: 40px;
  position: absolute; /* .herobackground that contains button is set to relative and I used absolute position for the button to position it correctly especially on mobile and tablet  */
  top: 60%;
  left: 5%;
  transform: translateY(-50%);
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 0;
  margin-top: 0%;
}

.grid-item {
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  border-radius: 10px;
}

/* ===================to style hover over on the projects images==================== */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-image: linear-gradient(120deg, #ffffff, #ededed);
  z-index: 1;
}

.grid-item:hover .overlay {
  opacity: 0.8;
}

h3.text {
  color: var(--fontcolor);
  font-family: "Oswald", sans-serif;
  line-height: 3rem;
  font-size: 2rem;
  font-weight: 500;
  position: absolute;
  transition: 0.5s ease;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /*The translate() CSS function repositions an element in the horizontal and/or vertical directions. Used to position the text in the middle of the overlay*/
  text-align: justify;
  z-index: 100;
  padding: 0;
  margin: 0;
}

/* ===================Footer style==================== */
footer {
  background: white;
  background-size: cover;
  width: 100%;
  padding-top: 1.2%;
}

footer nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-icons a {
  padding: 20px;
}

.copyright {
  font-size: 1rem;
  line-height: 1.5rem;
  padding-bottom: 1rem;
  text-align: center;
  display: block;
}

a.logo {
  text-decoration: underline; /* to show that it's a link */
}

/*======================769px — 1024px: Small screens, laptops view=======================================*/

@media only screen and (max-width: 1024px) {

  .hero-background {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  
  h1.hero-background {
    font-family: "Oswald", sans-serif;
    color: var(--fontcolor);
    font-weight: 400;
    text-align: left;
    font-size: 2.2rem;
    margin: 0.5rem 0;
    line-height: calc(1em + 0.8rem);
    position: absolute;
    top: 6%;
    left: 30%;
  }

  button {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    color: var(--fontcolor);
    font-family: "oswald", sans-serif;
    width:8rem;
    height:3rem;
    outline: 1px solid rgb(15, 15, 15); 
    margin-top: 40px;
    position: absolute; /* .herobackground that contains button is set to relative and I used absolute position for the button to position it correctly especially on mobile and tablet  */
    top: 75%;
    left: 41%;
    transform: translateY(-50%);
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 0;
    margin-top: 0;
  }
  .grid-item {
    max-width: 100%;
  }
}

/*======================================Tablet view: ===================================*/

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  .hero-background {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  h1.hero-background {
    font-family: "Oswald", sans-serif;
    color: var(--fontcolor);
    font-weight: 400;
    text-align: left;
    font-size: 1.8rem;
    margin: 0.5rem 0;
    line-height: calc(1em + 0.8rem);
    position: absolute;
    top: 6%;
    left: 2%;
  }
  button {
    font-size: 1rem;
    font-weight: 400;
      color: var(--fontcolor);
    font-family: "Oswald", sans-serif;
    width:8rem;
    height:2.5rem;
    top: 80%;
    left: 40%;
    transform: translateY(-50%);
  }
  a.top-navigation:before {
    transition: all 0s ease-in-out;
  }
}

/*===================================Mobile View===================================*/
@media only screen and (max-width: 568px) {
 
  body {
    font-size: 14px;
  }

  header {
    background-color: white;
    padding: 40px;
    padding-left: 4rem;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
  }

  header img {
   width: 80px;
  }

  a .top-navigation {
    flex-direction: column;
    
  }

  h1.hero-background {
    font-family: "Oswald", sans-serif;
    color: var(--fontcolor);
    font-weight: 400;
    text-align: left;
    font-size: 1.4rem;
    margin: 0.5rem 0;
    line-height: calc(1em + 0.8rem);
    position: absolute;
    top: 5%;
  
  }

  button {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--fontcolor);
    font-family: "Oswald", sans-serif;
    width:8rem;
    height:2rem;
    outline: 1px solid rgb(15, 15, 15);
    margin-top: 40px;
    position: absolute; /* .herobackground that contains button is set to relative and I used absolute position for the button to position it correctly especially on mobile and tablet  */
    top: 45%;
    left:35%;
    transform: translateY(-50%);
  }

  h3.text {
  
  line-height: 2rem;
  font-size: 1.4rem;
  font-weight: 400;
}

  header {
    padding: 10px;
    display: block;
  }

  ul li {
    font-family: "Oswald", sans-serif;
    font-size: 1rem;
    color: var(--fontcolor);
    text-decoration: none;
    font-style: normal;
    line-height: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    list-style-type: none;
    display: inline-block;
    margin-right: 50px;
    position: relative;
  }

  /* Dropdown top menu styling, displays on hover over  */
  .dropdown-content {
    display: none;
    position: absolute;
  }
  
  .nav-menu-item:hover .dropdown-content {
    display: block;
    min-width: 400px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
  }
  

  .top-navigation {
    flex-direction: column; /* Stack menu items vertically */
    align-items: flex-start; /* Align to top */
  }
/*
  .nav-menu-item {
    display: block; /* Make buttons full width
    width: 100%; 
  } */


   /* UPDATED NAVIGATION!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

  .dropdown-content {
    position: absolute; /* Remove absolute positioning */
    display: none; /* Hide by default */
    width: 80%; /* Make full width of parent */
  }

  .dropdown-content ul {
    flex-direction:column; /* Stack dropdown links */
  }

  .dropdown-content li {
    padding: 5px 0; /* Add spacing between links */
    /*border-top: 1px solid #eee; /* Divider lines */
  }

  .dropdown-content.show {
    display: block; /* Show dropdown when this class is added */
  }


/* Dropdown top menu styling, displays on hover over  */


.dropdown-content {
  display: none;
  position: absolute;
  max-width: 200px;
  flex-direction: column;
}

.nav-menu-item:hover .dropdown-content {
  display: block;
  max-width: 200px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}



  /* unvisited link */
  a:link {
    color: var(--fontcolor);
    text-decoration: none;
  }
  


  /* Links hover-over */
  a:hover:not(.active) {
    color: var(--fontcolor);
  }

  h1 {
    text-align: center;
  }
  .introduction {
    align-items: center;
  }

  button {
    margin-top: 45%;
    left: 33%;
  }

  ul li {
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
  }
  .nav-menu-item:hover .dropdown-content {
    min-width: 300px;
    line-height: 5rem;
    padding-bottom: 1rem;
    opacity: 1;
  }

  a.top-navigation {
    font-size:  0.9rem;
    line-height: 2rem;
  }
  
}
