@charset "UTF-8";

/*
===================================HEAL'S 3D PAGE and Ebike App Design CSS=======================================*/
.grid-container-heals {
  display: grid;
  grid-template-columns: 50% 50%;
}
.grid-container-p5 {
  display: grid;
  grid-template-columns: 60% 40%;
}
body {
  line-height: calc(1rem + 1rem);
}

main {
  background-color: white;
}

section {
  margin: 4%;
  padding: 0;
  margin-top: 0;
}

h1.projects {
  font-size: 4rem;
  font-weight: 400;
  color: var(--fontcolor);
  padding: 0;
  margin: 0;
  padding-bottom: 1%;
  margin-left: 10%;
  margin-top: 0%;
}

h2.projects {
  font-size: 3rem;
  padding: 0;
  margin-right: 0;
  margin-left: 4%;
  margin-top: 1%;
  margin-bottom: 1%;
}

h3.projects {
  font-size: 1.2rem;
  padding: 0;
  padding-bottom: 1%;
  margin: 0;
  margin-left: 10%;
  margin-top: 2%;
}

h3.challenge {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  padding: 0;
  padding-bottom: 1%;
  margin-right: 0;
  margin-left: 4%;
  margin-top: 4%;
  margin-bottom: 2%;
  z-index: 1;
}

p.projects {
  margin-left: 10%;
}

section p,
ol {
  margin: 0;
  margin-left: 4%;
  text-align: justify;
  font-size: 1.1rem;
}

ol li.interview {
  font-size: 16px;
  color: var(--fontcolor);
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased; /* switches off font smoothing - only relevant for Mac OS*/
  max-width: 100%;
  line-height: calc(
    1em + 0.5rem
  ); /* this calculation uses the font-size as a base, and adds a fixed amount of space to each line.
  This declaration produces tighter lines for bigger text like headings. */
  margin: 0; /* Removes all defaultt browser margins*/
  background-color: white;
  font-style: normal;
  list-style-type: circle; 
  margin-right: 30px;
}
blockquote {
  font-style: italic; 
}

.grid-item {
  padding-right: 1.5rem;
}
.p5 {
  padding-right: 0;
}
.images {
  margin-top: 6rem;
}

#sketch {
  padding: 0;
}
a.images {
  text-decoration: underline; /* to show that it's a link */
}

/* script {
  padding-left: 10%;
} */
/*====================================== Tablet & Mobile view: ===================================*/

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .grid-container-heals {
    grid-template-columns: 100%;
  }
  .grid-container-p5 {
    grid-template-columns: 100%;
  }

  .video {
    grid-row-start: 5;
  }

  h1.projects {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  h2.projects {
    font-size: 2.5rem;
  }
  h3.challenge {
    font-size: 1.5rem;
  }
}
