@charset "UTF-8";

/*
====================================ABOUT PAGE CSS=========================================*/
.grid-container-about {
  display: grid;
  grid-template-columns: 30% 70%;
}
.grid-item-2 {
  max-width: 70%;
}

body {
  line-height: calc(1em + 0.5rem);
}
h2.about-me {
  padding-top: 1%;
  padding-left: 4%;
  padding-bottom: 0;

}
section p {
  margin-top: 1%;
  padding-left: 4%;
  text-align: justify;
  font-size: 1.1rem;
}
/*====================================== Tablet & Mobile view: ===================================*/

@media only screen and (max-width: 768px) {
  body {
    font-size: 1rem;
  }

  .grid-container-about {
    display: block; /* Change to block layout */
 }
 .grid-item-1,
 .grid-item-2 {
   max-width: 100%; 
   padding-bottom: 1%;
 }
 .grid-item-1 {
   margin-bottom: 1px; /* Add spacing between sections */
   display: none; /* Hide the image on tablet*/
 }
}
  /*========================================== Mobile view: ======================================*/
@media only screen and (max-width: 568px) {
  .grid-container-about {
    display: block; /* Change to block layout */
 }
 .grid-item-1,
 .grid-item-2 {
   max-width: 100%; 
   padding-bottom: 10%;
   
 }
 body {
  font-size: 0.8rem;
  line-height: 1.9rem;
}
 .grid-item-1 {
   margin-bottom: 1px; /* Add spacing between sections */
   display: none; /* Hide the image on mobile */
 }
}